#header-main{
  background-color: white;
  width: 140px;
  min-height: 100vh;
  z-index: 10;
  font-family: 'Lucida Console', Monospace;
}
  .header-main-class{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

#header-nav ul, #header-main h1{
  list-style: none;
  text-align: right;
}
#header-main a{
  margin-bottom: 20px;
  text-align: right;
  text-decoration: none;
  padding-right: 20px;
  color: gray;
  transition: all .3s ease-in-out;
}

#header-main h1{
  padding-right: 20px;
}

#header-nav li{
  margin-bottom: 20px;
  transition: all .3s ease-in-out;
}
#header-main a:hover, #header-nav li:hover{
  transform: translate(0,-8px);
  color: black;
}

#div-content{
  background-color: lightblue;
  margin: 0;
  width: 100%;
}

#logo_id{
  height:47px;
  position: relative;
  box-shadow: 0px 36px 13px -20px rgba(0, 0, 0, 0.8);
}

#logo_id:hover{
  animation-name: hvr-buzz;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@-webkit-keyframes hvr-buzz {
  10% {
    transform: translateX(10px) rotate(2deg);
  }

  20% {
    transform: translateX(-10px) rotate(-2deg);
  }

  30% {
    transform: translateX(10px) rotate(2deg);
  }

  40% {
    transform: translateX(-10px) rotate(-2deg);
  }

  50% {
    transform: translateX(7px) rotate(1deg);
  }

  60% {
    transform: translateX(-7px) rotate(-1deg);
  }

  70% {
    transform: translateX(7px) rotate(1deg);
  }

  80% {
    transform: translateX(-7px) rotate(-1deg);
  }

  90% {
    transform: translateX(3px) rotate(0);
  }

  100% {
    transform: translateX(-3px) rotate(0);
  }
}
